{% extends 'base.html' %}
{% block content %}

<h1>Shoe Specs</h1>


<div class="card">
        <div class="card-content">
            <span class="card-title">{{ shoe.brand }} {{ shoe.get_style_display }}</span>
            <p>Size: {{ shoe.size }}</p>
            <p>Color: {{ shoe.get_color_display }}</p>
            <p>Description: {{ shoe.description }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'shoes_update' shoe.id %}">Edit Shoes</a>
            <a href="{% url 'shoes_delete' shoe.id %}">Delete Shoes</a>
        </div>
</div>

{% endblock %}