{% extends 'base.html' %}
{% block content %}

<h1>Shoe Specs</h1>


<div class="card">
        <div class="card-content">
            <class class="card-title">The {{ shoe.name }} by {{shoe.brand}}</class>
                {% if shoe.designer == True %}
            <p>
                <i class="material-icons">star_border</i>
                Designer
                <i class="material-icons">star_border</i>
            </p>
                {% else %}
            <p>Brand: {{shoe.brand}}</p>
                {% endif %}
            <p>Style: {{ shoe.get_style_display }}</p>
            <p>Size: {{ shoe.size }}</p>
            <p>Color: {{ shoe.get_color_display }}</p>
            <p>Description: {{ shoe.description }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'shoes_update' shoe.id %}">Edit Shoes</a>
            <a href="{% url 'shoes_delete' shoe.id %}">Delete Shoes</a>
        </div>
</div>

{% endblock %}